__pycache__
.DS_Store
output*/*
fail-*
memo.txt

node_modules/*
package.json
package-lock.json

result/io/*
result/ls/*
result/re/*
result/summary/*
result/Inc-d4.pdf
result/Random-d4.pdf
!result/io/.empty
!result/ls/.empty
!result/re/.empty
result_*
for-smartian
.logs/*
nohup.out
x.sh
slack-webhook.json
