__pycache__
.DS_Store
output*/*
fail-*
memo.txt

node_modules/*
package.json
package-lock.json

result/io/*
result/ls/*
result/re/*
!result/io/.empty
!result/ls/.empty
!result/re/.empty
result_*
for-smartian
.logs/*
nohup.out
x.sh
slack-webhook.json
